.NavBar {
  display: flex;
  gap: 2em;
  padding: 2em;
  justify-content: center;
  align-items: center;
}

.NavBar a {
  color: black;
  font-weight: bold;
  text-decoration: underline;
  text-decoration-thickness: 0.25em;
  text-decoration-color: var(--color-primary);
}

.NavBar a.active {
  color: var(--color-primary);
}
