.PostList {
  list-style: none;
  margin: 0;
  padding: 0;
}

.PostList-Item {
  margin: 0 0 2em 0;
}

.PostList-Item a {
  color: black;
  text-decoration: underline;
  text-decoration-color: var(--color-primary);
}
