.Post {
  border: 1px solid var(--color-grey);
  border-radius: 1em;
  padding: 1em;
}

.Post-title {
  font-size: 1.5em;
  font-weight: bold;
  margin: 0 0 1em 0;
}

.Post-votes {
  margin: 0 0 2em 0;
  display: flex;
  align-items: center;
  gap: 1em;
}

.Post-content {
  display: grid;
  grid-template-areas: "meta button";
  gap: 0.5em;
}

.Post-meta {
  grid-area: meta;
}

.Post-button {
  grid-area: button;
  justify-self: end;
  align-self: center;
}
